@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&family=Oswald:wght@300;400;500&display=swap');



body, html {
 background: #131a24;
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;

}




.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  align-items: center;
  margin-top: 150px
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFFFFF1A;
}