@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&family=Oswald:wght@300;400;500&display=swap');



body, html {
 background: #131a24;
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;

}

h1 {
  margin-top: 150px;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  box-sizing: border-box;
  
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  
}

input {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  background: #FFFFFF1A;
  padding: 5px;
  border-radius: 10px;
  width: 20rem;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 18px;
}